.content-wrapper {
    /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;
}

.magenta {
    color: var(--primary);
}
.bordeux {
    background-color: #6e042c;
    color: #fffaf5;
}
.magenta-logo {
    height: fit-content;
    filter: grayscale() brightness(100);
    height: 152px;
    cursor: pointer;
}
.bnw {
    filter: grayscale(10);
}
/* Pages */
.page-container {
    margin-top: 96px;
    min-height: calc(100vh - 96px);
}
.page-container > div {
    min-height: 100vh;
}
.page-header {
    display: flex;
    flex-direction: column;
}
.page-header-head {
    display: flex;
}
.header-image {
    width: 375px;
    height: 375px;
}
.logos-container {
    height: 64px;
    display: flex;
    align-items: center;
    gap: 64px;
    background-color: #243d4c;
    color: #fffaf5;
}
.partner-logo {
    height: 64px;
    max-width: 150px;
}
.ycom-logo {
    scale: 1.5;
    max-width: 100%;
    max-height: 100%;
}
.koi-logo {
    max-width: 100%;
    max-height: 54px;
    filter: brightness(100);
}

/* NavBar */
.navbar-container {
    background-color: #152731;
    color: #ffffff;
    --padding: 256px;

    padding: 0px var(--padding);
    width: calc(100vw - var(--padding) * 2);
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.navbar-container p {
    cursor: pointer;
    margin: 0;
    /* font-weight: bold; */
    transition: border 0.3s ease;
}
.navbar-container > div {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
}
.navOptSelected {
    border-bottom: var(--primary) 3px solid;
}
.navOptNotSelected {
    border-bottom: #00000000 3px solid;
}

/* Footer */
.footer-container {
    background-color: #152731;
    color: #fffaf5;
    height: 320px;
    width: 100vw;
}
.footer-content {
    display: flex;
    justify-content: space-around;
}
.footer-content div {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
    margin-left: 320px;
}
.footer-content span {
    margin-top: 16px;
}
.footer-content * p {
    font-weight: bold;
}
.footer-disclaimer {
    margin: 0 auto;
    padding-top: 16px;
    border-top: #fffaf5 1px solid;
    width: fit-content;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card {
    width: 512px;
    height: 256px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff;
    color: #152731;
}
.cardcontent {
    display: grid;
    grid-template:
        "a a b b" 40px
        "a a b b" 40px;
}
.card img {
    width: 128px;
    aspect-ratio: 1 / 1;
}

/* Slides */
.slides-container {
    display: flex;
    /* flex-direction: column; */
}
.slides-button-container {
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 64px;
}
.slides-content {
}
.slide-ilustration {
    width: 725px;
}
.slide-icon {
    width: 48px;
    aspect-ratio: 1/1;
}

/* Plan card */
.planCard-container {
    display: flex;
    gap: 16px;
}
.planCard {
    background-color: #fffaf5;
    border-radius: 16px;
    color: #152731;
}

/* Quote Cards */
.quoteCard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.quoteCard {
    display: flex;
    width: 640px;
}
.quoteCard img {
    width: 132px;
    height: 132px;
    border-radius: 50%;
}
.quoteContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 32px;
}
.quoteContent > p {
    margin: 0;
}
.quoteContent div {
    font-size: 0.75rem;
    display: flex;
    gap: 16px;
}

/* About Us */
.aboutUs-header {
    position: relative;
    color: #fffaf5;
    height: 512px;
}
.aboutUs-header-bg {
    background-image: url("./assets/images/ilus5.jpg");
    background-position: bottom;
    background-size: cover;
    filter: grayscale(100) brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.floating-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.manifesto {
    padding: 128px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 512px 200px;
    background-image: linear-gradient(#fffaf5, #ffffff99), url("./assets/images/sand-background.png");
    background-position: bottom;
    background-size: cover;
}
.manifesto img {
    width: 512px;
    aspect-ratio: 1/1;
    grid-column: 1;
    grid-row: 1;
}
.manifesto-content {
    padding-left: 64px;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
}
.manifesto-contact {
    padding-left: 64px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 3;
    grid-row-start: 2;
}

/* Process */
.process-header {
    background-color: var(--primary);
    color: #fffaf5;
    width: 100%;
    height: 512px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.process-header-timeline {
    width: 100%;
    padding: 64px;
    grid-column: 1 / 3;
}

/* processTimeLine */
.processTimeLine {
    position: relative;
    display: flex;
    width: 100%;
    height: 0px;
    border-radius: 2px;
    overflow: visible;
    justify-content: space-around;
    border: 2px solid #fffaf5;
}
.processTimeLine div {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border-radius: 50%;
    background-color: #fffaf5;
    cursor: pointer;
}

/* Cuatro Pilares */
.process-pillars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}
.process-pillars-content {
    grid-column: 1 / 3;
}
.process-pillars img {
    width: 80%;
    aspect-ratio: 1/1;
    grid-column: 3 / 6;
    filter: grayscale(1);
}

.process-pillars-content p {
    padding: 0 128px;
}
.FourPillars {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.FourPillars div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left top;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: all 0.3s ease;
}
.FourPillars div:hover {
    scale: 1.03;
}
.FourPillars div:nth-child(1) {
    height: 500px;
    width: 500px;
    background-color: lightgray;
    z-index: 2;
}
.FourPillars div:nth-child(2) {
    height: 382px;
    width: 382px;
    background-color: lightgoldenrodyellow;
    z-index: 3;
}
.FourPillars div:nth-child(3) {
    height: 266px;
    width: 266px;
    background-color: lightblue;
    z-index: 4;
}
.FourPillars div:nth-child(4) {
    height: 150px;
    width: 150px;
    background-color: lightcoral;
    z-index: 5;
}

/* Contacto */
.contact-header {
    background-color: #f1d9b1;
    /* color: #fffaf5; */
    width: 100%;
    height: 512px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.contact-header div:nth-child(1) {
    padding: 0 128px;
    text-align: left;
    grid-column: 1 / 3;
}
.contact-header div:nth-child(1) p {
    padding-right: 256px;
}
.contact-header div:nth-child(2) {
    border-radius: 50%;
    background-color: #fffaf5;
    height: 400px;
    width: 400px;
    grid-column: 3 / 6;
}
.contact-form-section {
    margin: 128px;
    text-align: left;
}
.contact-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form > div {
    display: flex;
    flex-direction: column;
}
.contact-form fieldset {
    display: flex;
    flex-direction: column;
}

.contact-interest {
    display: grid;
    grid-template-columns: repeat(3, 64px);
    gap: 8px;
}
.contact-interest div {
    cursor: pointer;
    width: 64px;
    text-align: center;
    background-color: gray;
    /* background-color: var(--primary); */
    border-radius: 8px;
    color: #fffaf5;
}
.contact-form-button {
    margin-top: auto;
}
